* {font-family: "Comfortaa", sans-serif; color: white; position: relative; transition: all .3s}
* {
  -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none; 
            user-select: none; 
}
span {display: flex; align-items: center}


body {
	background: #0a0a0a;
	width: 700px;
	height: 600px;
	padding: 6px;
	outline: solid 1px #4a4644;
	display: flex;
	flex-direction: column;
	overflow: hidden;
}

.flex {display: flex}
.translateCenter {
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	aspect-ratio: 1/1;
}

div.pane {background: #19191a; border-radius: 10px; border: solid 1px #363738; }
div.pane:hover {border: solid 1px #646667; }

div.pane.topPane {
	width: 100%;
	height: 64px;
	padding: 2px 0px;
	margin-bottom: 10px;
}

div.topPane span { font-size: xx-large; font-weight: 800 }

img.patPatLoader {
	z-index: 0;
	top: 4px;
}
div.SettingsDiv {height: 100%;}



div.leftPane {
	width: 27.5%;
	min-width: 27.5%;
	display: flex;
	flex-direction: column;
	gap: 6px;
	padding: 6px;
	margin: 0px 10px;
	background: none;
	border: solid 1px transparent !important;
	white-space: nowrap;
}



div.leftPane > div {
	display: flex; justify-content: flex-start; cursor: pointer; font-weight: 200; gap: 12px; padding: 6px 0px; 
    border-radius: 10px;
}
div.leftPane > div:hover {
	font-weight: 600
}

div.leftPane > div > span {
	text-align: center; top: 1px; font-size: 90%
}

div.leftPane > div.active {
    font-weight: 900;
    font-size: 100%;
    background: linear-gradient(90deg, transparent -5%, #7575759c 100%);
    background-size: contain;
}


div.settingsPane {
	width: 100%;
}









div.SettingSection {width: 100%;}
div.SettingLine h2 {margin-bottom: 0px; width: calc(100% - 78px); font-size: 120%; font-weight: bold; top: 2px}
div.SettingLine p {margin-bottom: 0px; opacity: 0.66; font-weight: 300; margin-top: 6px; font-size: small;}
.SettingLine {
	cursor: pointer;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 4px;
    padding: 8px 6px;
	gap: 0px 6px;
	border-bottom: solid 1px #333333b8;
}
div.inlineSetting {display: flex; gap: 10px; white-space: nowrap; width: 100%; margin-top: 4px}
div.inlineSetting.single {margin-bottom: 8px; align-items: center; font-size: larger; font-weight: 800}
div.inlineSetting label {font-size: smaller;}
div.inlineSetting label.Percentage {min-width: 35px; text-align: center}

div.SettingSection:not(.Chosen) {display: none}



input#zipUploader {
  display: none;
}

.zipUpload.failed {
    background: #433737;
	color: #ffacac;
}

.zipUpload {
    background: #333;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    width: 100%;
    text-align: center;
    border-radius: 4px;
    margin-top: 2px;
}

div.settingsPane div.PatPatPacks div.UploadPack {}

div.settingsPane div.PatPatPacks div.UploadPack.DataPack {
    cursor: default;
    padding: 4px;
    margin-top: 1px;
    border-radius: 6px;
}
div.settingsPane div.PatPatPacks div.UploadPack.DataPack label.zipUpload:hover {background: #444}

img.unpackingTexturesProcess {
	position: absolute;
	z-index: 5;
	bottom: 0px;
	right: 0px;
	width: 30px;
	aspect-ratio: auto
}

label.DataPackDescription {font-size: small; text-align: center; color: gray;}

.ImagePreview img {
	max-width: 30px;
    height: 30px;
	object-fit: contain;
}

.AvailableDataPack {
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 4px;
	overflow: hidden;
    border-radius: 12px;
    border: solid 1px white;
    padding: 6px 10px;
    width: 100%;
    cursor: pointer;
}

.AvailableDataPack.Active {
    border: dashed 1px lime;
    box-shadow: 0px 0px 8px 0px #00ff0073;
}

div.settingsPane div.PatPatPacks div.UploadPack.DataPack .AvailableDataPack {margin: 10px 4px}
div.settingsPane div.PatPatPacks div.UploadPack.DataPack .FullWidthpreview {height: 100%; scale: 1;}

.SettingSection.PatPatPacks.Chosen {
    display: flex;
    width: 100%;
    flex-direction: column;
}


div.removeSavedDataPack {
    display: flex;
    position: absolute;
    top: 45%;
    height: 16px;
    right: 6px;
	cursor: pointer;
    font-size: x-small;
    z-index: 12;
    padding: 2px 4px;
    background: #ff0000d9;
    border-radius: 6px;
}

div.removeSavedDataPack span {
	top: 1px
}

.CookedPacksList {
    display: flex;
    padding: 10px;
    padding-top: 2px;
    gap: 4px;
    flex-direction: column;
}


.AvailableDataPack:hover {
	box-shadow: 0px 0px 8px 0px white
}

.PreviewData {
    margin-top: -2px;
    max-height: 30px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.PreviewData.TextType {
    display: flex;
    font-size: x-small;
    margin-top: 0px;
    font-weight: 400;
    top: -4px;
    max-height: none;
    opacity: 0.75;
    flex-direction: column;
}

.PreviewData .ImagePreview {
    display: flex;
    display: none;
    gap: 4px;
    max-width: 200px;
    overflow: hidden;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.FullWidthpreview {
    position: absolute;
    width: 17.5%;
    height: 80%;
    scale: 1.25;
    top: 0px;
    right: 0px;
    padding: 10px 25px;
    z-index: 2;
	border-radius: 10px;
    padding-left: 0px;
}

.AvailableDataPack .FullWidthpreview:hover {
    width: 100%;
    z-index: 10;
	backdrop-filter: blur(6px);
	border-radius: 30px;
	scale: 1.25 !important;
    padding: 14px;
    height: 100%;
}

.AvailableDataPack.Active .FullWidthpreview:hover {}

.FullWidthpreview img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.PackAuthor {
    position: absolute;
    right: -5;
    bottom: -5px;
}

.PreviewData span.packName {
    display: inline-block;
	top: 4px;
    width: calc(100% - 260px);
    font-size: medium;
    white-space: nowrap;
    font-weight: bold;
    text-overflow: ellipsis;
    overflow: hidden;
}


.PreviewData.TextType span span {
    margin-left: 4px;
}



.SettingSection.BlockList {
	display: flex;
	flex-direction: column;
	gap: 10px;
	padding: 10px;
}

.SettingSection.BlockList .flex.inputBar {
    display: flex;
    gap: 5px;
    border-bottom: solid 1px #80808078;
    padding-bottom: 10px;
    margin-bottom: 10px;
}


.SettingSection.BlockList .list {
    height: 100%;
    width: 100%;
    overflow: auto;
    border-radius: 4px;
}

.SettingSection.BlockList h2.BlackListDesc {margin-bottom: 0px}

.SettingSection.BlockList .flex.inputBar input {
	outline: none;
    background: #2f2f2f;
    width: 100%;
    border: none;
    padding: 4px 10px;
    border-radius: 6px;
}

.SettingSection.BlockList .flex.inputBar input:focus, .SettingSection.BlockList .flex.inputBar img:hover {
	background: #444;
}

.SettingSection.BlockList .flex.inputBar img {
    background: #2f2f2f;
    width: 34px;
    aspect-ratio: 1/1;
    padding: 4px;
    border-radius: 6px;
    height: 100%;
    cursor: pointer;
}




/* Container for the toggle */
.toggle-switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 30px;
}

/* Hide default checkbox */
.toggle-switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The track */
.slider {
    position: absolute;
    cursor: pointer;
    background-color: #a3a3a3;
    border-radius: 24px;
    width: 60px;
    height: 30px;
    transition: background-color 0.3s;
}

/* The circular slider */
.slider::before {
    content: "";
    position: absolute;
    height: 20px;
    width: 20px;
    left: 5px;
    scale: 1.2;
    bottom: 5px;
    background-color: white;
    border-radius: 50%;
    transition: all 0.25s cubic-bezier(0.03, 0.97, 0.79, 1.07);
}

/* Toggled state */
.toggle-switch input:checked+.slider {
    background-color: #4caf50;
}

.toggle-switch input:checked+.slider::before {
    transform: translateX(25px);
}



input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    cursor: pointer;
    height: 12px !important;
    top: 4px;
    outline: none;
	background: #7E7E7E90;
    overflow: hidden;
    border-radius: 16px;
}

/* Track: webkit browsers */
input[type="range"]::-webkit-slider-runnable-track, input[type="range"]::-moz-range-track  {
  height: 12px;
  background: #7e7e7e;
  border-radius: 16px;
}


/* Thumb: webkit */

input[type="range"]::-moz-range-thumb {
	box-shadow: -407px 0 0 400px #4caf50;
	border-radius: 20px;
	border: solid 2px white;
	background-color: #4caf50;
	height: 8px;
    width: 8px;
}

input[type="range"]::-webkit-slider-thumb {
	  -webkit-appearance: none;
	  appearance: none; 
	  height: 12px;
	  width: 12px;
	  border: solid 2px white;
	  background-color: #4caf50;
	  border-radius: 20px;
	  box-shadow: -407px 0 0 400px #4caf50;
}

.toast {
    background: #333;
    position: absolute;
    padding: 4px 8px;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    bottom: -40px;
    right: 4px;
}

.toast button {
    background: #222;
	margin-left: 12px;
    border: none;
    padding: 4px 14px;
    border-radius: 6px;
    margin-right: -4px;
}

html div.toast.visible {
	bottom: 4px;
	opacity: 1 !important;
}